@import '../../style/mixins';
@import '../../style/variables';
.zid__footer{
    background-color: $main-color;
height: 233px;
margin-top: 5.5rem;

.social__media{
    padding: 1rem;
    font-size: 24px;
    a{
        color: $white;
        &:hover{
            color: $primary-text-color;
        }

    }
}

}