@import "./variables";

@mixin background-image(
    $filePath,
    $bgXpos: 0,
    $bgYpos: 0,
    $bgReapeat: no-repeat,
    $bgSize: cover,
    $bgAttachment: fixed
) {
    background-image: url($filePath);
    background-position: $bgXpos $bgYpos;
    background-repeat: $bgReapeat;
    background-size: $bgSize;
    background-attachment: $bgAttachment;
}

%appBtn {
    position: absolute;
    width: 295px;
    height: 60px;
    left: 560.8px;
    top: 303.28px;
    background: $primary-text-color;
    border-radius: 10px;
}

%scroll {
    position: fixed;
    background-color: $primary-text-color;
    color: $white;
    padding: 0.75rem 1rem;
    border-radius: 50%;
    border: none;
}

%fontMontserrat {
    font-family: "Montserrat Alternates", sans-serif;
}

%section-padding {
    padding: 100px 0 50px;
}

%width-style {
    width: fit-content;
    height: fit-content;
}
%displayColFlex {
    display: flex;
    flex-direction: column;
}
%paddingView {
    padding-left: 260px;
}
