// vendors
$vendors: "-moz-",
"-webkit-",
"-o-",
"-ms-",
"";


$main-color: #8D5DA7;
$main-color-opacity: #654b9b20;
$main-text-color: #000000;
$footer-color: #835D9D;
$footer-text-color:white;
$bg-color-1: #FAFAFCED;
$bg-card:#F7F7F7;
$primary-text-color:#FDB515;
$white:white;
$black:black;
$box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
$apps-bg:rgba(250, 250, 252, 0.93);




//sizes 
$FormsBorder :10px 10px 10px 10px;
// $FormsBtnshadow :0 4px 30px 0 $text-color-3;
$FormsBorder :10px 10px 10px 10px;
// $getstartedButtonBackground: #7540f2;
$getstartedBorder:0px 40px;
// font family
$robotoFont: 'Roboto',
sans-serif;
$openSansFont: 'Open Sans',
sans-serif;



